.todo {
    padding: 1vw;
    overflow-y: auto;
}

.todo-button-list {
    height: 1.25rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.todo-button {
    padding: 0;
    margin-right: 2rem;
    border: none;
    border-bottom: 3px solid white;

    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
    background-color: transparent;
    color: white;

    cursor: pointer;
    transition: 0.2s;
}

.todo-button:hover {
    border-top: 3px solid;
}

.todo-button.sort {
    border-color: #abff41;
}

.todo-sort {
    color: #abff41;
}

.todo-button.task-count {
    border-color: #f795ff;
}

.todo-task-count {
    color: #f795ff;
}

.todo-button.add-task {
    border-color: #45ff63;
    color: #45ff63;
}

.todo-button.edit-tags {
    border-color: #b4b7fa;
    color: #b4b7fa;
}

.todo-list .todo-item:nth-last-child(1) {
    margin-bottom: 0.5rem;
}