:root {
    --start: #ffa270;
    --end: #ff5f6d;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    color: #aaa;
    background-color: #201f27;
    font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    width: max-content;
    margin: 0;
    line-height: 1.1;
    font-size: 4rem;
    font-weight: 500;

    background: linear-gradient(135deg, var(--start), var(--start) 25%, var(--end) 75%, var(--end));

    /* Fallbacks */
    background-color: white;
    color: #212121;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    color: #aaa;
}

@supports (background-clip: text) {
    h1 {
        /* Apply gradient to text */
        background-clip: text !important;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
    }
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
}

#sidebar {
    width: 48px;
    height: 100%;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.05);
}

#body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#datetime-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#content-wrapper {
    margin: 0.5rem 1rem;
    padding: 0.5rem;
    
    flex-grow: 1;
    overflow: hidden;
    border-radius: 0.5rem;
    
    display: flex;
    flex-direction: column;
    background-color:rgba(255, 255, 255, 0.05);
}

#content-header {
    height: 20px;
    margin-bottom: 4px;
    padding-left: 4px;
    flex-shrink: 0;

    display: flex;
    align-items: center;
}

#content {
    height: calc(100% - 24px);
}

#header-name {
    flex-grow: 1;
    font-weight: 500;
    font-size: 0.8rem;
    color: #fff;
}

.material-icons-outlined {
    margin: 0 0.15rem;
    padding: 0 0.1rem;
    font-size: 1rem;
    color: #ccc;
    cursor: pointer;
    transition: 0.3s;
}

.material-icons-outlined:hover {
    color: white;
    filter: drop-shadow(0 0 1px #777)
}

.hidden {
    display: none;
}