.news {
    overflow-y: auto;
    overflow-x: hidden;
}

.article {
    width: 100%;
    margin-bottom: 0.4rem;
    border: 1px solid transparent;

    display: flex;
    flex-direction: row;
    font-size: 0.85rem;

    cursor: pointer;
    transition: 0.2s;
}

.article:hover {
    border-color: #aaa;
}

.article-number {
    flex-basis: 1.5rem;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    color: #ffc329;
}

.article-right,
.article-title,
.article-subtitle {
    margin: 0;
    width: calc(100% - 1vw);
}

.article-subtitle {
    margin-top: 0.1rem;
    font-size: 0.75rem;
    color: #aaa;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
