#button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem
}

.action-button {
    padding: 0.25rem;
    font-size: 0.6rem;
    line-height: 0.75rem;
    transition: 0.3s;
    cursor: pointer;
}

.action-button:hover {
    background-color: #ffffff7f;
}

#notes-box {
    display: grid;
    grid-template-rows: 1fr 1.5rem;
}

#notes-text {
    height: 100%;
    width: 100%;
}

.notes-text.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

#notes-button-container {
    width: 100%;
    height: 1rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#nb-info {
    width: 100%;
    margin-left: 0.25rem;
	font-size: 0.75rem;
}

.notes-button {
    margin: 0 0.25rem;
    border: none;
    border-bottom: 1px solid #aaa;
    flex-shrink: 0;
    
    font-size: 0.75rem;
    background-color: transparent;
    color: #aaa;
    cursor: pointer;
    transition: 0.2s;
}

.notes-button:hover {
    border-color: #fff;
    color: #fff;
}

#notes-text-edit {
	width: calc(100% - 0.5rem - 2px);
	height: calc(100% - 0.5rem - 2px);
	padding: 0.25rem;
    border: 1px solid #aaa;

    background: transparent;
	color: white;
}

.notes-link {
    width: 100%;
    margin: 0.1rem 0;
    display: block;
    color: #bbb;
    text-decoration: underline;
    text-align: center;
}

.notes-link:hover {
    color: white;
}

.settings-button {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: white;
    transition: 0.2s;
    cursor: pointer;
    font-size: 1rem;
}

.settings-button:hover {
    color: #83e1ff;
}