#notes-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

#notes-edit {
    width: calc(100% - 0.5rem);
    height: calc(100% - 0.5rem);
}

#save-button {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    position: absolute;
    bottom: 0.75rem;
    right: 0.75rem;
    border-radius: 0.75rem;
    border: none;

    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: 0.3s;
}

#save-button:hover {
    box-shadow: 0 0 2px #aaaaaa44;
    background-color: var(--end);
}

#save-button:hover > #save-icon {
    color: #000000aa;
}

#save-icon {
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    filter: none !important;
}
