.popup {
    padding: 1vw;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.popup-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.popup-button {
    margin: 0 0.5rem;
    border: 1px solid white;
    background-color: transparent;

    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

.popup-button:hover {
    background-color: #777777;
}

.popup-inner {
    display: none;
}

label {
    margin-right: 0.5rem;
    color: #ffc329;
}

input,
textarea {
    margin-bottom: 0.25rem;
    border: none;
    border-bottom: 1px solid white;

    font-size: 1rem;
    font-family: 'Inconsolata', monospace;
    color: white;
    background-color: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.name-input {
    width: 40vw;
}

.date-input {
    width: 1rem;
}

.date-input.year {
    width: 2rem;
}

.date-divider {
    margin: 0 0.25rem;
    display: inline;
}

.date-today {
    margin-right: 0.5rem;
    border: 1 solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

#priority-label {
    margin-left: 1.5rem;
}

.priority-input {
    width: 0.5rem;
}

.tags-input {
    width: 30vw;
}

#tags-list {
    margin: 0 0 0.5rem 2.5rem;
    font-size: 0.85rem;
    color: #fff5bd;
    cursor: pointer;
}

textarea {
    padding: 0.25rem;
    border: 1px solid white;
}

.description-input {
    width: 43vw;
    height: 4rem;
    margin-top: 0.25rem;
}

.edit-tags-title {
    margin: 0.5rem 0 1rem;
    text-align: center;
}

.edit-tags-input {
    width: 25vw;
    height: 20rem;
}
