#form-wrapper {
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-option {
    height: 0.75rem;
    width: 20rem;
    margin: 0.5rem;
    border-radius: 0.75rem;
    outline: 1px solid transparent;
    background: linear-gradient(135deg, var(--start), var(--start) 25%, var(--end) 75%, var(--end));
    cursor: pointer;
    transition: 0.3s;
}

.active-color, .color-option:hover {
    outline-color: white;
}
