.todo {
    padding: 1vw;
    overflow-y: auto;
    position: relative;
    overflow: hidden;
}

.todo-button-list {
    position: absolute;
    height: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.todo-button {
    padding: 0;
    margin-right: 2rem;
    border: none;
    border-bottom: 3px solid white;

    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
    background-color: transparent;
    color: white;

    cursor: pointer;
    transition: 0.2s;
}

.todo-button:hover {
    border-top: 3px solid;
}

.todo-button.sort {
    border-color: #abff41;
}

.todo-sort {
    color: #abff41;
}

.todo-button.task-count {
    border-color: #f795ff;
}

.todo-task-count {
    color: #f795ff;
}

.todo-button.add-task {
    border-color: #45ff63;
    color: #45ff63;
}

.todo-button.edit-tags {
    border-color: #b4b7fa;
    color: #b4b7fa;
}

/* Task display section */

.todo-list {
    margin-top: 1.75rem;
    height: calc(100% - 2vw - 2.45rem);

    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.8rem;
    line-height: 1rem;
    color: white;

    /* Define colors */
    --p6: #b00000;
    --p5: #ff7777;
    --p4: #ffa592;
    --p3: #fff492;
    --p2: #bcff2d;
    --p1: #92ff8f;
}

.pre {
    color: #bbb;
}

.in-pre {
    color: #83e1ff;
}

.p5 {
    color: var(--p5);
}

.p4 {
    color: var(--p4);
}

.p3 {
    color: var(--p3);
}

.p2 {
    color: var(--p2);
}

.p1 {
    color: var(--p1);
}

.grey {
    color: #777777;
}

.todo-due {
    color: #777;
}

.todo-due.urgent-1 {
    color: var(--p2);
}

.todo-due.urgent-2 {
    color: var(--p3);
}

.todo-due.urgent-3 {
    color: var(--p4);
}

.todo-due.urgent-4 {
    color: var(--p5);
}

.todo-due.urgent-5 {
    color: var(--p6);
}

/* Command line input */

.todo-cmd {
    padding: 0.1rem;
    width: calc(100% - 2vw - 0.25rem);
    height: 1rem;
    position: absolute;
    bottom: 1vw;

    border: none;
    background-color: #aaaaaa44;
    color: white;
    font-size: 0.8rem;
    font-family: 'Inconsolata', monospace;
}
